:root
  font-size 14px
  font-family Arial, sans-serif
.app
  padding 30px 0
.overlay
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background rgba(black, 0.8)
  display flex
  align-items center
  justify-content center
  z-index 9999

.page-number
  float left
  line-height 33px