.modal
  display flex
  position relative
  width 1000px
  max-width 90%
  background white
  border 1px solid black
  max-height 90%
  overflow hidden
  flex-direction column
  padding 20px 0
  &--small
    width 400px
    & ^[-1]
      &__header
        font-size 16px

  &__close
    position absolute
    display block
    right 5px
    top 5px
    cursor pointer
    text-indent -9999px
    width 20px
    height 20px
    &:before
    &:after
      content ''
      display block
      width 20px
      height 2px
      background black
      position absolute
      left 0
      top 9px
    &:before
      transform rotate(-45deg)
    &:after
      transform rotate(45deg)
  &__header
    padding 0 20px
    font-weight 700
    font-size 20px
    text-align center
    margin-bottom 20px
  &__inner
    padding 0 20px
    overflow-y auto