.users
  .table
    .img
      display block
      width 40px
      height 40px
      border-radius 50%
      overflow hidden
      img
        max-width 100%
        max-height 100%
  .pagination
    justify-content flex-end